include partials/head.pug
body
    div.wrapper
        header
            div.container 
                h1 
                    a(href="https://brinca.ca/") Brinca
        main.main
            div.container
                //- img( src="assets/img/github.png" alt="gihub")/
        footer 
            div.container
                p Created by <a href="http://marceloglacial.com">Marcelo Glacial</a>
    include partials/footer.pug