@import '../Global/Global.scss';

.banner {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #f7f7f7;

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    ul,
    figure {
        padding: 0;
        margin: 0;
    }
}
.banner__info {
    @media (max-width: 450px) {
        text-align: center;
        max-width: unset;
    }
}
.banner__cta {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.banner__title {
    .heading-title {
        position: relative;
        text-align: center;
        padding-bottom: 2rem;
        @include size('phone') {
            font-size: 1.6rem;
        }

        &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include size('phone') {
                height: 0.3rem;
            }
        }
    }
}
.banner__description {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    figure {
        ul {
            grid-gap: 10rem;
            @include size('phone') {
                grid-gap: 4rem;
            }
        }
        img {
            height: 160px;
            object-fit: contain;
        }

        &:hover {
            transform: unset;
            box-shadow: unset;
            border: unset;
        }
    }
    figcaption {
        display: block;
        text-align: center;
        padding-top: 1rem;
        font-size: 1.3rem;
        @include size('phone') {
            font-size: 1rem;
        }
    }
}
