@import '../Global/Global.scss';

.banner {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #f7f7f7;

    ul,
    figure {
        padding: 0;
        margin: 0;
    }
}
.banner__title {
    .heading-title {
        position: relative;
        text-align: center;
        padding-bottom: 2rem;
        @include size('phone') {
            font-size: 1.6rem;
        }

        &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include size('phone') {
                height: 0.3rem;
            }
        }
    }
}
.banner__description {
    figure {
        ul {
            grid-template-columns: 1fr;
            grid-gap: 4rem;
            @include size('tablet') {
                grid-gap: 6rem;
                grid-template-columns: 1fr 1fr 1fr;
            }
            @include size('desktop') {
                grid-gap: 10rem;
            }
        }
        img {
            height: 160px;
            object-fit: contain;
        }

        &:hover {
            transform: unset;
            box-shadow: unset;
            border: unset;
        }
    }
    figcaption {
        display: block;
        text-align: center;
        padding-top: 1rem;
        font-size: 1.3rem;
        @include size('phone') {
            font-size: 1rem;
        }
    }
}
