@import '../Global/Global.scss';

// Contact form
.contact-form form {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0;

    input,
    textarea,
    button {
        border: solid 2px var(--green);
        padding: 0.7rem;
        margin-bottom: 1rem;

        &::placeholder {
            color: var(--grey-dark);
        }
        @include size('desktop') {
            padding: 1rem;
        }
    }
    button {
        background: var(--green);
        color: var(--white);
        transition: all 0.2s ease-in-out;
        margin: 0;

        &:hover {
            transform: translate(5px, -5px);
            box-shadow: var(--shadow);
        }
    }

    @include size('desktop') {
        padding: 0;
    }
}
