// Contact form
.contact-form form {
    display: flex;
    flex-direction: column;

    input,
    textarea,
    button {
        border: solid 2px var(--green);
        border-radius: 5px;
        padding: 0.7rem;
        margin-bottom: 1rem;

        &::placeholder {
            color: var(--grey-dark);
        }
        @media (min-width: 1025px) {
            padding: 1rem;
        }
    }
    button {
        background: var(--green);
        color: var(--white);
    }

    @media (max-width: 450px) {
        padding: 2rem 0 0 0;

        button {
            margin: 0;
        }
    }
}
