//- index.pug
doctype html
html
    head
        noscript
            div.alert You need to enable JavaScript to run this app.
        meta(charset='UTF-8')/
        meta(http-equiv="X-UA-Compatible" content="IE=edge")/
        meta(name="robots" content="index, follow")
        
        //- Viewport for responsive web design
        meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")

        //- Info
        title BRINCA - Brazil-Canada Community Association
        meta(name="description" content="Brazil-Canada Community Association")
        meta(name="keywords" content="Brazil-Canada Community Association")

        //- Icons
        link(rel="icon" type="image/png" href="favicon.png")
        link(rel="apple-touch-icon" href="tile.png")
        meta(name="msapplication-config" content="browserconfig.xml")

        //- To run web application in full-screen
        meta(name="apple-mobile-web-app-capable" content="yes")

        //- Status Bar Style (see Supported Meta Tags below for available values)
        meta(name="apple-mobile-web-app-status-bar-style" content="black")

        //- Social 
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://brinca.ca")
        meta(property="og:title" content="BRINCA - Brazil-Canada Community Association")
        meta(property="og:image" content="tile-wide.png")
        meta(property="og:description" content="Brazil-Canada Community Association's website")
        meta(property="og:site_name" content="BRINCA - Brazil-Canada Community Association")
        meta(property="og:locale" content="en_US")

        //- Styles
        link(rel="stylesheet" href="assets/css/main.min.css")