.btn.btn-primary {
    background-color: var(--green);
    border:none;
    border-radius: 0;
    padding: 1rem 2rem;

    &:hover {
        transform: translateY(-2px);
        box-shadow: var(--shadow);
        background-color: var(--yellow);
        color: var(--black);
    }
}

.btn.btn-secondary {
    color: var(--green);
    background-color: transparent;
    border-color: var(--green);
    border-radius: 0;
    padding: 1rem 2rem;

    &:hover {
        transform: translateY(-2px);
        border-color: var(--green);
        box-shadow: var(--shadow);
        background-color: var(--green);
        color: var(--white);
    }
}
