.btn.btn-primary {
    background-color: var(--green);
    border:none;
    border-radius: 0;
    padding: 1rem 2rem;

    &:hover {
        transform: translateY(-2px);
        box-shadow: -10px 10px 1px rgba(0, 0, 0, 0.9);
        background-color: var(--yellow);
        color: var(--black);
    }
}
