.article-header {
    padding: 2rem;
    background: var(--yellow);

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.article-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: var(--white);
}
.article-content img {
    max-width: 100%;
    height: auto;
}

// Blocks Galley
.wp-block-gallery {
    padding: 1rem 0;
    list-style: none;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-rows: auto;
    grid-gap: 0 1rem;
}
.blocks-gallery-item {
    figure {
        width: 100%;
        height: 160px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        object-fit: cover;

        img {
            max-width: unset;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Contact form
.contact__form {
    padding-top: 2rem;

    @media (min-width: 1025px) {
        width: 40%;
    }
}

.contact__form form {
    display: flex;
    flex-direction: column;

    @media (min-width: 1025px) {
        margin-left: 4rem;
        width: 100%;
    }

    input {
        border: solid 2px var(--green);
        border-radius: 5px;
        padding: 0.7rem;
        margin-bottom: 1rem;

        &::placeholder {
            color: var(--grey-dark);
        }
        @media (min-width: 1025px) {
            padding: 1rem;
        }
    }
}

.contact__input.contact__input--submit {
    background: var(--green);
    color: var(--white);
}
