.article-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--yellow);

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.article-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: var(--white);
}
.article-content img {
    max-width: 100%;
    height: auto;
}

// Blocks Galley
.wp-block-gallery {
    padding: 1rem 0;
    list-style: none;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-rows: auto;
    grid-gap: 0 1rem;
}
.blocks-gallery-item {
    position: relative;
    figure {
        width: 100%;
        height: 160px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: unset;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.2s ease-in-out;

            &:hover {
                width: 150%;
                height: 150%;
            }
        }
    }
}

// Contact form
.contact__form {
    padding-bottom: 4rem;
}

.contact__form form {
    display: flex;
    flex-direction: column;

    @media (min-width: 1025px) {
        max-width: 50%;
    }

    input,
    textarea, 
    button {
        border: solid 2px var(--green);
        border-radius: 5px;
        padding: 0.7rem;
        margin-bottom: 1rem;

        &::placeholder {
            color: var(--grey-dark);
        }
        @media (min-width: 1025px) {
            padding: 1rem;
        }
    }
    button {
        background: var(--green);
        color: var(--white);    
    }
}
