@import '../../styles/core';

.subscribe {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;

    display: flex;
    flex-direction: column;

    &__text {
        padding-top: 1rem;
    }

    p {
        margin: 0;
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        text-align: left;

        &__title {
            font-size: 200%;
        }
    
        &__text {
            font-size: 110%;
            line-height: 180%;
        }

        &__info {
            max-width: 50%;
            padding-right: 2rem;
        }
    }
}

.subscribe__form {
    padding-top: 2rem;

    @include media-breakpoint-up(lg) {
        width: 40%;
    }
}

.subscribe__form form {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
        margin-left: 4rem;
        width: 100%;
    }

    input {
        border: solid 2px $green;
        border-radius: 5px;
        padding: 0.7rem;
        margin-bottom: 1rem;

        &::placeholder {
            color: $grey-dark;
        }
        @include media-breakpoint-up(lg) {
            padding: 1rem;
        }
    }
}

.subscribe__input.subscribe__input--submit {
    background: $green;
    color: $white;
}
