@import './Carousel';

.slide__link {
    position: relative;
    display: flex;
    width: 100%;
    height: 550px;
    color: var(--black);

    &:hover {
        color: var(--black);
        text-decoration: none;
    }

    @include size('phone') {
        height: 350px;
        border-bottom: solid 3px var(--grey);
    }
    @include size('large-monitor') {
        height: 720px;
    }
}
.control-dots {
    display: none;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.carousel .control-next.control-arrow:before {
    border-left: 18px solid #fff;
}
.carousel .control-prev.control-arrow:before {
    border-right: 18px solid #fff;
}
.control-arrow {
    @include size('phone') {
        display: none;
    }
}
.sile__image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 0;
}

.slide__legend {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include size('phone') {
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }
}
.slide__title,
.slide__description {
    font-weight: bold;
    max-width: 50%;
    text-align: left;
    background: rgba(#ffffff, 0.8);

    @include size('phone') {
        max-width: unset;
        width: 100%;
        font-size: 1.2rem;
        max-width: unset;
        margin: 0;
    }
}

.slide__title {
    padding: 2rem;
}
.slide__description {
    padding: 1.5rem;
    margin: 0;
    @include size('phone') {
        padding: 1rem;
        font-size: 1rem;
    }
}
.slide__description p {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
