@import './Carousel';

.slide__link {
    position: relative;
    display: flex;
    width: 100%;
    height: 550px;
    color: var(--black);

    &:hover {
        color: var(--black);
        text-decoration: none;
    }
}

.sile__image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 0;
}

.slide__legend {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 6rem;

    &:hover > * {
        background: var(--yellow);
        transform: translateY(-2px);
        box-shadow: -10px 10px 1px rgba(0,0,0, 0.9);
    }

}
.slide__title,
.slide__description {
    display: inline-block;
    padding: 1rem;
    margin: 0 0 -1px 0;
    background: var(--white);
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
