@import '../Global/Global.scss';

// Cards
.cards {
    grid-template-columns: 1fr;
    list-style: none;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2rem;
    padding-top: 2rem;

    @include size('tablet') {
        grid-template-columns: 1fr 1fr;
    }
    @include size('desktop') {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        border-radius: 0;
        overflow: hidden;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: translateY(-2px);
            box-shadow: var(--shadow);
            border-color: var(--black);
        }

        a {
            text-decoration: none;
            color: var(--black);
        }
    }
    .card-img-top {
        border-radius: 0;
        height: 200px;
        overflow: hidden;
        object-fit: cover;
    }
    .card-title {
        font-weight: bold;
        color: var(--green);
        position: relative;
        z-index: 1;

        &:after {
            display: block;
            content: '';
            width: 50px;
            height: 5px;
            background: var(--yellow);
            position: relative;
            z-index: -1;
        }
    }
    .card-text p {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
