@import '../Global/Global.scss';
footer {
    position: relative;
    color: var(--white);

    p {
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }
}
footer .site-footer-nav {
    background: var(--green);
    padding: 2rem 0;
}
.site-footer-nav__items {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;

    @include size('tablet') {
        grid-template-columns: 1fr;
    }
}
.site-footer-nav__items p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    min-height: 4rem;

    a {
        padding: 0.5rem 2rem;
    }

    &:first-of-type a {
        background: var(--yellow);
        border-radius: 50px;
        color: var(--black);
        transition: all 0.3s ease-in-out;

        &:hover {
            text-decoration: none;
            background-color: var(--white);
        }
    }
}
.site-footer-copyrights {
    text-align: center;
    color: var(--black);
    background: var(--grey);
    padding: 1rem;
    font-size: 0.9rem;
}
.site-footer-developer {
    background: var(--grey);
    padding: 0 0 1rem 0;
    margin-top: -0.6rem;
    text-transform: lowercase;
    font-size: 0.8rem;
    color: var(--black);
    text-align: center;

    p {
        opacity: 0.3;
        &:hover {
            opacity: 1;
        }
    }

    @include size('tablet') {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 1rem;
        bottom: 1.2rem;
    }
}
