@import '../Global/Global.scss';

.language-picker {
    a {
        font-size: 0.9em;
        display: flex;
        padding: 0.5rem 1rem;

        align-items: center;
        color: var(--white);

        width: 40%;
        margin: 0 auto;

        img {
            width: 20px;
            margin-right: 1rem;
        }

        @include size('desktop') {
            margin: 0;
            width: 100%;

            &:hover {
                color: var(--black);
                text-decoration: none;
                background: var(--grey-light);
            }
        }
    }

    @include size('desktop') {
        position: absolute;
        top: -90px;
        right: 0;

        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
        height: 2.3rem;
        background: var(--white);
        transition: height 0.2s ease-in-out;
        border-radius: 5px;

        &:hover {
            height: 7.2rem;
            box-shadow: 0px 0px 5px 5px var(--grey-light);

            a.active {
                position: unset;
                top: unset;
                width: unset;
            }
        }

        a {
            display: inline-block;
            align-items: unset;
            justify-content: unset;
            color: var(--black);
            margin: 0;
            width: 100%;
        }
        a.active {
            position: absolute;
            top: 0;
            background-color: var(--white);
            width: 1000%;

            &:hover {
                background: var(--grey-light);
            }
        }
        p {
            padding: 0;
            margin: 0;
        }
    }
}
