@import '../Global/Global.scss';

.site-logo__image {
    max-width: 170px;
    margin: 5px 0 10px -15px;

    @include size('tablet') {
        max-width: 250px;
    }
    @include size('desktop') {
        max-width: 300px;
    }
}
