// Global Colors
:root {
    --green: #2c6332;
    --green-hover: #0cc76f;
    --black: #222;
    --black-fade: rgba(0, 0, 0, 0.35);
    --yellow: #eace4e;
    --grey: #e0e0e0;
    --grey-dark: rgba(#222, 0.5);
    --grey-light: rgba(0, 0, 0, 0.05);
    --shadow: -10px 10px 1px rgba(0, 0, 0, 0.9);
    --white-soft: rgba(255, 255, 255, 0.3);
}

// Global Fonts
body {
    font-family: 'Lato';
}

// Mixins
@mixin size($size) {
    @if $size == 'phone' {
        @media (max-width: 766px) {
            @content;
        }
    } @else if $size == 'tablet' {
        @media (min-width: 767px) {
            @content;
        }
    } @else if $size == 'desktop' {
        @media (min-width: 1367px) {
            @content;
        }
    } @else if $size == 'large-monitor' {
        @media (min-width: 1800px) {
            @content;
        }
    }
}
