// Colors
$black: #222;
$white: white;
$green: #00A859;
$red: red;
$blue: blue;
$yellow: #FFF212;
$grey: #E0E0E0;
$grey-dark: rgba($black, 0.5);

// Color Pallete
$color-main: $green;
$color-secondary: $yellow;
$color-accent: $green; 
