@import './core';

.wp-block-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    .blocks-gallery-item {
        display: block;
        overflow: hidden;
        width: calc(33% - 1rem);
        height: 200px;
        position: relative;
        margin: 0.5rem;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}

.a8c-posts-list__listing {
    padding: 0;
    list-style: none;
    display: flex;
}

.a8c-posts-list__item {
    max-width: calc(33.33% - 2rem);
    margin-right: 2rem;
    margin-bottom: 2rem;
    border: solid 1px $grey;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px $grey;
    transition: all 0.2s ease-in-out;

    a {
        color: $black;
    }

    &:hover {
        transform: scale(1.02, 1.02);
        box-shadow: 0px 0px -10px 20px $grey;
    }
}
.a8c-posts-list-item__title,
.a8c-posts-list-item__meta,
.a8c-posts-list-item__excerpt {
    padding: 0 1rem;
    margin: 0;
}

.a8c-posts-list-item__meta {
    color: $grey-dark;
    padding: 1rem;
}

.a8c-posts-list-item__excerpt,
.a8c-posts-list__view-all,
.a8c-posts-list-item__author {
    display: none;
}

.page__content .a8c-posts-list-item__post-thumbnail {

    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
}
